{% extends "encyclopedia/layout.html" %}
{% load static %}

{% block title %}
   The Eagle Encyclopedia
{% endblock %}

{% block body %}

<div class="header">
    <h1>Eaglewiki</h1>
</div>

<div class="entry_list">
    <ul>
        {% for entry in entries %}
    <li><a href="{% url 'entry_page' entry.title %}"> {% if entry.thumbnail %}
        <img class="thumbnail" src="{{ entry.thumbnail.url }}" alt="{{ entry }} thumbnail">
    {% endif %}
    {{ entry.title }}</a></li>
        {% endfor %}
    </ul>
</div>
{% endblock %}