{% extends "encyclopedia/layout.html" %}
{% load static%}

{% block title %}

   {{ title }}

{% endblock %}

{% block body %}
    <h1 class="entry_title">{{ entry.title }}</h1>
    <div class="main-content">
    {% if entry.image %}
    <img class="main-image" src="{{ entry.image.url }}" alt="{{ entry.title }} Image">
{% else %}
    <p>No image available</p>
{% endif %}

{% if entry.content %}
    
        <p>{{ entry.content |safe }}</p>
    </div>
{% endif %}

{% if entry.category %}
    <div>
        <h6>Category</h6>
        <p>{{ entry.category }}</p>
    </div>
{% endif %}

{% if entry.tag %}
    <div>
        <h2>Tag</h2>
        <p>{{ entry.tag }}</p>
    </div>
{% endif %}

{% if entry.reference %}
    <div>
        <h2>Reference</h2>
        <p>{{ entry.reference }}</p>
    </div>
{% endif %}
    <a href="{% url 'edit_page' title=entry.title %}">Edit Page</a> <!-- Add this line -->
{% endblock %}


